In [ ]:
print('a')

In [1]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [2]:
print(value = 'a')

TypeError: 'value' is an invalid keyword argument for print()

In [3]:
def my_func(a, b):
    return a + b

In [4]:
my_func(1, 2)

3

In [5]:
my_func(b = 2, a = 1)

3

In [6]:
def my_fuc(a, b, *, c):
    return a + b + c

In [7]:
my_func(1, 2, c = 3)

TypeError: my_func() got an unexpected keyword argument 'c'

In [8]:
def my_fuc(a, b, /):
    return a + b

In [9]:
my_func(1, 2)

3

In [18]:
def my_fuc(a, b, /, *, c):
    return a + b + c

In [20]:
my_func(1, 2, c = 3)

TypeError: my_func() got an unexpected keyword argument 'c'

In [21]:
a, b = 'hello', 'world'

In [22]:
print(f"a = {a}, b = {b}")

a = hello, b = world

In [23]:
print(f"{a=}, {b=}")

a='hello', b='world'

In [24]:
print(f"{a=:s}, {b=:s}")

a=hello, b=world

In [25]:
from datetime import datetime
from math import pi

In [26]:
d = datetime.utcnow()
e = pi

C:\Users\ansor.taghoev\AppData\Local\Temp\ipykernel_15324\3216089402.py:1: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  d = datetime.utcnow()

In [27]:
print(f"{d=}, {e=}")

d=datetime.datetime(2024, 9, 30, 14, 53, 9, 337166), e=3.141592653589793

In [28]:
print(f"{d=:%Y-%m-%d %H:%M:%S}, {e=:.3f}")

d=2024-09-30 14:53:09, e=3.142

In [35]:
sentence = ['Python', 'rocks!']
print(f"{1 + 2=}, {' '.join(sentence)=}")

1 + 2=3, ' '.join(sentence)='Python rocks!'

In [36]:
a = 100.5
a.as_integer_ratio()

(201, 2)

In [37]:
from fractions import Fraction

In [38]:
f = Fraction(1, 2)

In [39]:
f

Fraction(1, 2)

In [40]:
f.as_integer_ratio()

(1, 2)

In [41]:
a = 12

In [42]:
a.as_integer_ratio()

(12, 1)

In [46]:
flag = False

In [47]:
flag.as_integer_ratio()

(0, 1)

In [48]:
from functools import lru_cache

In [49]:
@lru_cache(maxsize=3)
def fib(n):
    if n <= 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

In [50]:
fib(100)

354224848179261915075

In [51]:
@lru_cache()
def fib(n):
    if n <= 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

In [52]:
fib(100)

354224848179261915075

In [53]:
@lru_cache
def fib(n):
    if n <= 2:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

In [54]:
import math

In [56]:
a = [0, 0]
b = [1, 1]

In [57]:
dist = math.sqrt((b[0] - a[0]) ** 2 + (b[1] - a[1]) ** 2)
dist

1.4142135623730951

In [58]:
math.dist(a, b)

1.4142135623730951

In [59]:
from collections import namedtuple

In [60]:
NT = namedtuple('NT', 'a b c', defaults=(10, 20, 30))

In [61]:
nt = NT()

In [62]:
nt

NT(a=10, b=20, c=30)

In [63]:
NT = namedtuple('NT', 'a b c', defaults=(20, 30))

In [64]:
nt = NT(10)

In [65]:
nt

NT(a=10, b=20, c=30)

In [66]:
NT = namedtuple('NT', 'a b c d e f', defaults=('xyz',) * 6)

In [67]:
nt = NT()

In [68]:
nt

NT(a='xyz', b='xyz', c='xyz', d='xyz', e='xyz', f='xyz')

In [70]:
nt = NT(c = 100)

In [71]:
nt

NT(a='xyz', b='xyz', c=100, d='xyz', e='xyz', f='xyz')

In [72]:
NT = namedtuple('NT', 'a b c', defaults=([],) * 3)

In [73]:
nt = NT()

In [74]:
nt

NT(a=[], b=[], c=[])

In [75]:
nt.a.append(100)

In [76]:
nt

NT(a=[100], b=[100], c=[100])

In [77]:
NT = namedtuple('NT', 'a b c', defaults=(10, 20, 30))

In [78]:
NT

__main__.NT

In [79]:
nt = NT()

In [80]:
nt

NT(a=10, b=20, c=30)

In [81]:
NT._field_defaults

{'a': 10, 'b': 20, 'c': 30}

In [82]:
NT = namedtuple('NT', 'a b c', defaults=(20, 30))
NT._field_defaults

{'b': 20, 'c': 30}

In [83]:
nt = NT(10)

In [84]:
nt

NT(a=10, b=20, c=30)

In [85]:
nt._asdict()

{'a': 10, 'b': 20, 'c': 30}

In [86]:
d = {'a': 1, 'b': 2}

In [87]:
list(d.keys())

['a', 'b']

In [88]:
list(reversed(d.keys()))

['b', 'a']

In [90]:
list(reversed(d.values()))

[2, 1]

In [91]:
list(reversed(d.items()))

[('b', 2), ('a', 1)]