In [1]:
(10, 20, 30)

(10, 20, 30)

In [2]:
a = (10, 20, 30)
b = 10, 20, 30

In [3]:
type(a)

tuple

In [4]:
type(b)

tuple

In [7]:
def print_tuple(t):
    for e in t:
        print(e)

In [10]:
print_tuple((10, 20, 30))

10
20
30

In [11]:
a = 'a', 10, 200

In [12]:
a[0]

'a'

In [13]:
a[1]

10

In [14]:
a = 1, 2, 3, 4, 5, 6

In [15]:
type(a)

tuple

In [16]:
a[2:5]

(3, 4, 5)

In [18]:
for e in a:
    print(e)

1
2
3
4
5
6

In [19]:
a = 'a', 10, 20

In [20]:
x, y, z = a

In [21]:
x

'a'

In [22]:
y

10

In [23]:
z

20

In [24]:
a = 1, 2, 3, 4, 5

In [25]:
x, *other, y, z = a

In [26]:
other

[2, 3]

In [27]:
x

1

In [28]:
y

4

In [29]:
z

5

In [30]:
x, *_, y, z = a

In [31]:
_

[2, 3]

In [32]:
a

(1, 2, 3, 4, 5)

In [33]:
a[0]

1

In [34]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [35]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __repr__(self) -> str:
        return f'{self.__class__.__name__}(x={self.x}, y={self.y})'

In [36]:
pt = Point2D(10, 20)

In [40]:
pt

Point2D(x=100, y=20)

In [38]:
pt.x = 100

In [39]:
pt

Point2D(x=100, y=20)

In [41]:
a = Point2D(0, 0), Point2D(10, 20)

In [42]:
a

(Point2D(x=0, y=0), Point2D(x=10, y=20))

In [43]:
id(a[0])

1999169168656

In [44]:
a[0].x = 100

In [45]:
a

(Point2D(x=100, y=0), Point2D(x=10, y=20))

In [46]:
s = 'python'

In [49]:
s = 'python' + ' rocks'

In [50]:
s

'python rocks'

In [64]:
a = 1, 2, 3

In [65]:
id(a)

1999175009216

In [66]:
a += (4, 5)

In [67]:
a

(1, 2, 3, 4, 5)

In [68]:
id(a)

1999175006656

In [69]:
a

(1, 2, 3, 4, 5)

In [70]:
pt1 = (0, 0)
pt2 = (10, 20)

In [71]:
london = 'London', 'UK', 8_780_000
new_york = 'New York', 'USA', 8_500_000
beijing = 'Beijing', 'China', 21_000_000

In [72]:
london

('London', 'UK', 8780000)

In [73]:
cities = [london, new_york, beijing]

In [74]:
total = 0
for city in cities:
    total += city[2]
print(total)

38280000

In [76]:
total = sum(city[2] for city in cities)

In [77]:
total

38280000

In [78]:
record = 'DJIA', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072

In [79]:
symbol, year, month, day, open_, high, low, close = record

In [80]:
symbol

'DJIA'

In [81]:
close

26072

In [82]:
symbol, *_, close = record

In [83]:
symbol, close

('DJIA', 26072)

In [84]:
print(_)

[2018, 1, 19, 25987, 26072, 25942]

In [87]:
for city, country, population in cities:
    print(city, country, population)

London UK 8780000
New York USA 8500000
Beijing China 21000000

In [89]:
for index, city in enumerate(cities):
    print(index, city)

0 ('London', 'UK', 8780000)
1 ('New York', 'USA', 8500000)
2 ('Beijing', 'China', 21000000)

In [91]:
from random import uniform
from math import sqrt

def random_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)
    
    if sqrt(random_x ** 2 + random_y ** 2) <= radius:
        is_in_circle = True
    else:
        is_in_circle = False
        
    return random_x, random_y, is_in_circle

In [94]:
num_attempts = 1_000_000
count_inside = 0

for i in range(num_attempts):
    *_, is_in_circle = random_shot(1)
    
    if is_in_circle:
        count_inside += 1
        
print(f'Pi is approximately: {4 * count_inside / num_attempts}')

Pi is approximately: 3.140668