In [1]:
print('a')

a

In [2]:
l = [1, 2, 3]
t = (1, 2, 3)
s = 'python'

In [3]:
l[0]

1

In [4]:
t[1]

2

In [5]:
s[2]

't'

In [6]:
for c in s:
    print(c)

p
y
t
h
o
n

In [7]:
s = {10, 20, 30}

In [8]:
for e in s:
    print(e)

10
20
30

In [9]:
s = {'x', 10, 'a', 'A'}

In [10]:
for e in s:
    print(e)

a
x
10
A

In [11]:
s[0]

TypeError: 'set' object is not subscriptable

In [12]:
l = [1, 2, 3]
t = (1, 2, 3)

In [13]:
l[0]

1

In [14]:
t[0]

1

In [15]:
l[0] = 100

In [16]:
l

[100, 2, 3]

In [17]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [18]:
t = ([1, 2], 3, 4)

In [19]:
t[0]

[1, 2]

In [20]:
t[0][0] = 100

In [21]:
t

([100, 2], 3, 4)

In [22]:
'a' in ['a', 'b', 100]

True

In [23]:
100 in range(200)

True

In [24]:
len('python'), len([1, 2, 3]), len({10, 20, 30}), len({'a': 1, 'b': 2})

(6, 3, 3, 2)

In [25]:
l = [100, 90, 20]

In [26]:
min(l)

20

In [27]:
max(l)

100

In [28]:
l = [2 + 2j, 10 + 10j, 100 + 100j]

In [29]:
min(l)

TypeError: '<' not supported between instances of 'complex' and 'complex'

In [30]:
l = ['a', 'b', 'c']

In [31]:
'a' < 'b'

True

In [32]:
min(l), max(l)

('a', 'c')

In [33]:
'a' < 10

TypeError: '<' not supported between instances of 'str' and 'int'

In [34]:
l = ['a', 10, 100]

In [35]:
min(l)

TypeError: '<' not supported between instances of 'int' and 'str'

In [36]:
from decimal import Decimal

In [37]:
l = [10, 10.5, Decimal('20.3')]

In [38]:
l

[10, 10.5, Decimal('20.3')]

In [39]:
min(l)

10

In [40]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [41]:
[1, 2, 3] + (4, 5, 6)

TypeError: can only concatenate list (not "tuple") to list

In [42]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [43]:
'abc' + ['d', 'e', 'f']

TypeError: can only concatenate str (not "list") to str

In [44]:
list('abc')

['a', 'b', 'c']

In [45]:
list('abc') + ['d', 'e', 'f']

['a', 'b', 'c', 'd', 'e', 'f']

In [46]:
'***'.join(['1', '2', '3'])

'1***2***3'

In [47]:
', '.join(['1', '2', '3'])

'1, 2, 3'

In [49]:
''.join(list('abc') + ['d', 'e', 'f'])

'abcdef'

In [51]:
'abc' * 3

'abcabcabc'

In [52]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [53]:
s = "gnu's not unix"

In [55]:
list(enumerate(s))

[(0, 'g'),
 (1, 'n'),
 (2, 'u'),
 (3, "'"),
 (4, 's'),
 (5, ' '),
 (6, 'n'),
 (7, 'o'),
 (8, 't'),
 (9, ' '),
 (10, 'u'),
 (11, 'n'),
 (12, 'i'),
 (13, 'x')]

In [56]:
s.index('n')

1

In [60]:
s.index('n', 2)

6

In [61]:
s.index('n', 7)

11

In [62]:
s.index('a')

ValueError: substring not found

In [63]:
s.index('n', 12)

ValueError: substring not found

In [64]:
s = 'python'
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
s[1:4]

'yth'

In [67]:
list(enumerate(s))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [68]:
l[0:5]

[1, 2, 3, 4, 5]

In [69]:
s[4:1000]

'on'

In [70]:
s[:4]

'pyth'

In [71]:
s[4:]

'on'

In [72]:
s[:]

'python'

In [73]:
l = [1, 2, 3]

In [75]:
l2 = l[:]

In [76]:
l is l2

False

In [77]:
s

'python'

In [78]:
s[-1]

'n'

In [79]:
s[0:5:-1]

''

In [80]:
s[5:0:-1]

'nohty'

In [81]:
s[::-1]

'nohtyp'

# Caveats

In [82]:
a = Decimal('10.5')

In [83]:
b = Decimal('10.5')

In [84]:
a == b

True

In [85]:
a is b

False

In [86]:
l = [Decimal('10.5')]

In [87]:
id(l[0])

2404110970064

In [89]:
l2 = l * 2

In [90]:
id(l2[0])

2404110970064

In [91]:
l2 is l

False

In [94]:
l2[1] is l[0]

True

In [99]:
l = [[0, 0]]

In [100]:
id(l[0])

2404110592640

In [101]:
l2 = l * 2

In [102]:
l2

[[0, 0], [0, 0]]

In [103]:
id(l2[0]), id(l2[1])

(2404110592640, 2404110592640)

In [104]:
l[0]

[0, 0]

In [105]:
l[0][0] = 100

In [106]:
l

[[100, 0]]

In [108]:
l2

[[100, 0], [100, 0]]