In [1]:
print('a')

a

In [2]:
class MyClass:
    def __init__(self, name) -> None:
        self.name = name
        
    def __repr__(self) -> str:
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        print(f'You called + on {self} and {other}')
        return 'Hello from __add__'
    
    def __iadd__(self, other):
        print(f'You called += on {self} and {other}')
        return "Hello from __iadd__"

In [3]:
c1 = MyClass('instance1')
c2 = MyClass('instance2')

In [4]:
result = c1 + c2

You called + on MyClass(name=instance1) and MyClass(name=instance2)

In [5]:
print(result)

Hello from __add__

In [6]:
c1, c2

(MyClass(name=instance1), MyClass(name=instance2))

In [7]:
id(c1)

1230273226336

In [ ]:
c1 += c2

You called += on MyClass(name=instance1) and MyClass(name=instance2)

In [9]:
class MyClass:
    def __init__(self, name) -> None:
        self.name = name
        
    def __repr__(self) -> str:
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if isinstance(other, MyClass):
            self.name += other.name
        else:
            self.name += other
        return self

In [10]:
c1 = MyClass('Eric')
c2 = MyClass('Iodl')
print(id(c1))
print(id(c2))

1230294729408
1230294737136

In [11]:
result = c1 + c2

In [13]:
id(result), result

(1230294923168, MyClass(name=EricIodl))

In [14]:
c1 += c2

In [15]:
id(c1), c1

(1230294729408, MyClass(name=EricIodl))

In [16]:
class MyClass:
    def __init__(self, name) -> None:
        self.name = name
        
    def __repr__(self) -> str:
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if isinstance(other, MyClass):
            self.name += other.name
        else:
            self.name += other
        return self
    
    def __mul__(self, n):
        return MyClass(self.name * n)
    
    def __imul__(self, n):
        self.name *= n
        return self

In [17]:
c1 = MyClass('Eric')

In [18]:
id(c1)

1230294958544

In [19]:
result = c1 * 3

In [20]:
id(result), result

(1230294911936, MyClass(name=EricEricEric))

In [21]:
c1 *= 3

In [22]:
id(c1), c1

(1230294958544, MyClass(name=EricEricEric))

In [23]:
c1 = MyClass('Eric')

In [24]:
c1 * 3

MyClass(name=EricEricEric)

In [25]:
3 * c1

TypeError: unsupported operand type(s) for *: 'int' and 'MyClass'

In [26]:
(3).__mul__(c1)

NotImplemented

In [27]:
c1.__rmul__(3)

AttributeError: 'MyClass' object has no attribute '__rmul__'

In [28]:
3 * c1

TypeError: unsupported operand type(s) for *: 'int' and 'MyClass'

In [29]:
class MyClass:
    def __init__(self, name) -> None:
        self.name = name
        
    def __repr__(self) -> str:
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if isinstance(other, MyClass):
            self.name += other.name
        else:
            self.name += other
        return self
    
    def __mul__(self, n):
        return MyClass(self.name * n)
    
    def __rmul__(self, n):
        return self.__mul__(n)
    
    def __imul__(self, n):
        self.name *= n
        return self

In [30]:
c1 = MyClass('Eric')

In [31]:
c1 * 3

MyClass(name=EricEricEric)

In [32]:
3 * c1

MyClass(name=EricEricEric)

In [33]:
l = [1, 2, 3]
s = 'python'

In [34]:
1 in l

True

In [35]:
'a' in s

False

In [ ]:
class MyClass:
    def __init__(self, name) -> None:
        self.name = name
        
    def __repr__(self) -> str:
        return f'MyClass(name={self.name})'
    
    def __add__(self, other):
        return MyClass(self.name + other.name)
    
    def __iadd__(self, other):
        if isinstance(other, MyClass):
            self.name += other.name
        else:
            self.name += other
        return self
    
    def __mul__(self, n):
        return MyClass(self.name * n)
    
    def __rmul__(self, n):
        return self.__mul__(n)
    
    def __imul__(self, n):
        self.name *= n
        return self
    
    def __contains__(self, value):
        return value in self.name